.game{
    background-image: url(Assets/board.png);
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 150 auto;
    background-position: center center;
}

h1{
    text-align: center;
    color: #6b5b95;
}

.section{
    height: 133px;
    width: 133px;
    float: left;
}